In [100]:
import pandas as pd
import numpy as np
from itertools import chain

In [101]:
df = pd.read_csv(r'C:\Users\nemesio.iv.s.mangila\Downloads\netflix-shows\netflix_titles.csv')

In [102]:
df.head()

,Unnamed: 0,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,2,70234439,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob..."
1,3,80058654,TV Show,Transformers: Robots in Disguise,NaN,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,"September 8, 2018",2016,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...
2,5,80163890,TV Show,Apaches,NaN,"Alberto Ammann, Eloy Azorín, Verónica Echegui,...",Spain,"September 8, 2017",2016,TV-MA,1 Season,"Crime TV Shows, International TV Shows, Spanis...",A young journalist is forced into a life of cr...
3,8,80117902,TV Show,Fire Chasers,NaN,NaN,United States,"September 8, 2017",2017,TV-MA,1 Season,"Docuseries, Science & Nature TV","As California's 2016 fire season rages, brave ..."
4,26,80244601,TV Show,Castle of Stars,NaN,"Chaiyapol Pupart, Jintanutda Lummakanon, Worra...",NaN,"September 7, 2018",2015,TV-14,1 Season,"International TV Shows, Romantic TV Shows, TV ...",As four couples with different lifestyles go t...

In [103]:
df = df.loc[df['type'] == 'TV Show']
df.head()

,Unnamed: 0,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,2,70234439,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob..."
1,3,80058654,TV Show,Transformers: Robots in Disguise,NaN,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,"September 8, 2018",2016,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...
2,5,80163890,TV Show,Apaches,NaN,"Alberto Ammann, Eloy Azorín, Verónica Echegui,...",Spain,"September 8, 2017",2016,TV-MA,1 Season,"Crime TV Shows, International TV Shows, Spanis...",A young journalist is forced into a life of cr...
3,8,80117902,TV Show,Fire Chasers,NaN,NaN,United States,"September 8, 2017",2017,TV-MA,1 Season,"Docuseries, Science & Nature TV","As California's 2016 fire season rages, brave ..."
4,26,80244601,TV Show,Castle of Stars,NaN,"Chaiyapol Pupart, Jintanutda Lummakanon, Worra...",NaN,"September 7, 2018",2015,TV-14,1 Season,"International TV Shows, Romantic TV Shows, TV ...",As four couples with different lifestyles go t...

In [144]:
def splitstack(df,col):
    #split the row and create stack
    s = df[col].str.split(',', expand=True).stack()
    #get the indices of 0 level of stack, we have 0 and 1
    i = s.index.get_level_values(0)
    #expand the dataframe based on the indices of stack
    df2 = df.loc[i].copy()
    #replace stacked column
    df2[col] = s.values
    #strip/trim spaces at edges of data
    df2[col] =df2[col].str.strip()\
    #reset index
    df2 = df2.reset_index()
    return df2

df2 = splitstack(df,'listed_in')
df2 = splitstack(df2,'cast')
df2.to_csv(r'C:\Users\nemesio.iv.s.mangila\Downloads\netflix-shows\netflix_titles2.csv')

PermissionError: [Errno 13] Permission denied: 'C:\\Users\\nemesio.iv.s.mangila\\Downloads\\netflix-shows\\netflix_titles2.csv'

In [145]:
df.shape

(1969, 13)